[submodule "nearspace/predicts/BalloonPredictionMap"]
	path = nearspace/predicts/BalloonPredictionMap
	url = https://github.com/UMDBPP/BalloonPredictionMap
[submodule "nearspace/flights/BalloonFlightsMap"]
	path = nearspace/flights/BalloonFlightsMap
	url = https://github.com/UMDBPP/BalloonFlightsMap
