header {
    font-weight:      bold;
    z-index:          auto;
    display:          flex;
    flex:             1;
    flex-wrap:        wrap;
    justify-content:  space-between;
    padding:          2ch;
    color:            white;
    border-bottom:    0.3ch solid #e21833;
    background-color: black;
}

header a {
    flex:            1;
    text-decoration: none;
    letter-spacing:  0.1ch;
    color:           white;
}

nav a:hover {
    color: #e21833;
}

@media (max-width: 60em) {
    .flyout button {
        font-family:      inherit;
        font-size:        inherit;
        font-weight:      inherit;
        position:         relative;
        color:            white;
        border:           none;
        outline:          none;
        background-color: inherit;
    }

    .flyout:hover .flyout_content {
        visibility: visible;
    }

    .flyout_content {
        position:         absolute;
        right:            0;
        display:          inline-block;
        visibility:       hidden;
        min-width:        10ch;
        margin-top:       4.75ch;
        background-color: #f9f9f9;
        box-shadow:       0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .flyout_content a {
        display:         block;
        padding:         1ch;
        text-decoration: none;
        color:           black;
    }

    .flyout_content a:hover {
        background-color: #ddd;
    }
}

@media (min-width: 60em) {
    nav {
        display:   flex;
        flex-wrap: wrap;
    }

    .flyout button {
        display: none;
    }

    nav a {
        margin-left: 1ch;
    }
}