@charset "ISO-8859-1";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#top_pane {
    width: 100%;
    height: auto;
    float: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom_pane {
    width: 100%;
    float: bottom;
}

#map {
    height: 100%;
}

.stretch {
    width: 3%;
}

.top_pane_div {
    text-align: center;
    display: inline-block;
}

.box {
    display: inline-block;
}
